body{
	font-family: 'Yanone Kaffeesatz', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
}
h1, h2,h3,h4{
  font-weight: normal;
}
.icon-github{
	font-size: 350px;
}
.navbar-inverse .navbar-inner{
  
}
.leader{
	text-align: center;
}
.leader a{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

a.github{
  color: #018758; /* #3B89AD;*/
}
a.github:hover{
  color: #3BA27E; /*#005881;*/
}

a.twitter{
  color: #00ACED;
}
a.twitter:hover{
  color: #5BB8DD;
}
a.facebook{
  color: #3B5998;
}
a.facebook:hover{
  color: #7086B4;
}
.social{
	font-size: 50px;
}

footer{
	text-align: center;
	border-top: solid 1px #d2d2d2;
	margin: 10px;
	padding: 10px;
}







/* Large desktop */
@media (min-width: 1200px) {
.icon-github{
  font-size: 350px;
}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.icon-github{
  font-size: 300px;
}
 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.icon-github{
  font-size: 200px;
}
 }

/* Landscape phones and down */
@media (max-width: 480px) {
  .icon-github{
    font-size: 160px;
  }
 }

