body{
	font-family: 'Yanone Kaffeesatz', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
}
a:focus{
  outline: 0;
}
h1, h2,h3,h4{
  font-weight: normal;
}
.icon-github{
	font-size: 250px;
}
.navbar{
  box-shadow: 1px 2px 5px #888;
}
.navbar .brand {
    color: #000000;
    float: right;
    font-weight: bold;
    margin-left: 20px;
    padding-left: 0;
    padding-right: 0;
    font-size: 30px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
    transition: all 0.2s linear 0s;
}

.leader{
	text-align: center;
}
.leader a{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.github{
  color: #018758; /* #3B89AD;*/
}
.github:hover{
  color: #3BA27E; /*#005881;*/
}

.twitter{
  color: #00ACED;
}
.twitter:hover{
  color: #5BB8DD;
}
.facebook{
  color: #3B5998;
}
.facebook:hover{
  color: #7086B4;
}
.gplus{
  color: #A5281A;
}
.gplus:hover{
color: #D74737;
}
.instagram{
  color: #6F2E0D;
}
.instagram:hover{
  color: #936651;
}
.linkdin{
  color: #1B6298;
}
.linkdin:hover{
  color: #418FB6;
}
.social{
	font-size: 40px;
  margin-bottom: 20px;

}

footer{
	text-align: center;
	border-top: solid 1px #d2d2d2;
	margin: 10px;
	padding: 10px;
}

/* Styles for project list */
.dotted-divider{
  border: 0;
  margin-bottom: 10px;
 border-bottom: dashed 1px #d2d2d2;
}

.block{
height: 80px;
box-shadow: 0 0 6px #888;
margin: 10px 0;
display: block;
text-indent: -99em;
border-radius: 4px; 
}

.threecups{
  background: transparent url(../img/3cups.png) no-repeat;
}
.backtotop{
  background: transparent url(../img/backtotop.png) bottom right no-repeat;
}
.guessgame{
  background: transparent url(../img/guessgame.png) top left no-repeat;
}
.manzeera{
  background: transparent url(../img/manzeera.png) top left no-repeat;
}


/* Large desktop */
@media (min-width: 1200px) {
.icon-github{
  font-size: 250px;
}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.icon-github{
  font-size: 200px;
}
 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.icon-github{
  font-size: 200px;
}
  .span4{
  border-bottom: dashed 1px #d2d2d2;
  padding-bottom: 10px;
}
.span4:last-child{
  border: 0;
}
 }

/* Landscape phones and down */
@media (max-width: 480px) {
  .icon-github{
    font-size: 160px;
  }
  .span4{
  border-bottom: dashed 1px #d2d2d2;
  padding-bottom: 10px;
}
.span4:last-child{
  border: 0;
}
 }

